.button {
  width: 45%;
  border: none;
  padding: 16px 24px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #080f0f;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #040808;
}

.button:active {
  background-color: #040808;
}

.button.bright {
  background-color: #d9fc51;
  color: #080f0f;
}

.button.bright:hover {
  background-color: #d2f34d;
}

.button.bright:active {
  background-color: #c9e94a;
}
