.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

.about-us .title {
  text-align: center;
}

.about-us .cards-container {
  display: flex;
  justify-content: space-between;
}

.about-us .cards-container .card {
  display: flex;
  justify-content: center;
  width: 360px;
  height: 220px;
}

.card .image-container {
  position: absolute;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  background-color: #D9FC51;
  border-radius: 50%;
}

.about-us .cards-container .card .text-container {
  margin-top: 42px;
  display: flex;
  background-color: #000;
  color: #fff;
  height: 178px;
  border-radius: 16px;
  padding: 0 32px 40px;
}

.about-us .cards-container .card .text-container .text {
  margin-top: 66px;
}