.about-us {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us .title {
  text-align: center;
}

.about-us .cards-container {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 1024px) {
  .cards-container {
    flex-direction: column;
    gap: 20px;
  }
}
