.navbar-link {
  color: #080f0f;
  text-decoration: none;
  margin-left: 32px;
}

.navbar-link:hover {
  background-color: #d9fc51;
}
.navbar-link.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #d9fc51;
  z-index: -1;
}

@keyframes openMenu {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
.links.isOpened {
  animation-name: openMenu;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@media (max-width: 1024px) {
  .links {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 100;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px 20px 20px 0;
    gap: 20px;
    align-items: start;
    width: 33%;
  }
}

@media (max-width: 474px) {
  .links {
    width: 50%;
  }
} 

@media (max-width: 425px) {
  .links {
    width: 100%;
  }
}