.navbar {
  padding: 18px 0;
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-link {
  color: #080f0f;
  text-decoration: none;
  margin-left: 32px;
  position: relative;
}

.navbar-link:hover {
  background-color: #d9fc51;
}
.navbar-link.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: #d9fc51;
  z-index: -1;
}
