.carousel {
  height: 100%;

}
.carousel img {
  border-radius: 15px;
}
.slick-slide {
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.slick-track {
  padding: 53px 0;
}

.slick-slide img {
  width: 100%;

}

.slick-slide.slick-current {
  transform: scale(1.5);
  position: relative;
  z-index: 10;
  padding: 10px 5px;
}

.slick-slide:not(.slick-current) {
  filter: brightness(0.5);
  opacity: 0.5;
}